name: Ejecucion Automatica de Tests (Conda)

on:
  push:
    branches: [ "main", "dev" ] # Añadí dev por tu último mensaje
  pull_request:
    branches: [ "main", "dev" ]
  workflow_dispatch:

jobs:
  test-runner:
    runs-on: ubuntu-latest

    steps:
    # 1. Descargar código
    - name: Checkout del código
      uses: actions/checkout@v4

    # 2. Instalar Miniconda y crear el entorno
    # Esta acción lee tu environment.yml e instala todo automáticamente
    - name: Configurar Conda
      uses: conda-incubator/setup-miniconda@v3
      with:
        activate-environment: IS # <--- PON AQUÍ EL NOMBRE QUE ESTÁ EN TU ENVIRONMENT.YML
        environment-file: environment.yml
        python-version: 3.10
        auto-activate-base: false

    # 3. Ejecutar los tests
    # IMPORTANTE: 'shell: bash -l {0}' es necesario para activar conda correctamente en Linux
    - name: Correr Pruebas con Pytest
      shell: bash -l {0}
      run: |
        pytest -v