name: Pruebas de Python (CI)

on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ dev ]

jobs:
  test:
    runs-on: windows-latest

    steps:
      # 1️⃣ Descargar el código del repositorio
      - name: 1. Descargar el código
        uses: actions/checkout@v4

      # 2️⃣ Configurar Conda usando setup-miniconda v3
      - name: 2. Configurar Conda
        uses: conda-incubator/setup-miniconda@v3
        with:
          environment-file: environment.yml 
          auto-update-conda: true    # crea el entorno desde tu archivo
          auto-activate-base: false
          activate-environment: IS_limpio       # nombre del entorno definido en el .yml

      
      # 4️⃣ Verificar entorno
      - name: 4. Verificar entorno
        shell: bash -l {0}
        run: |
          conda info
          conda list

      # 5️⃣ Ejecutar los tests
      - name: 5. Ejecutar pruebas
        shell: bash -l {0}
        run: |
          if [[ "$RUNNER_OS" == "Linux" ]]; then
            xvfb-run -a pytest -v
          else
            pytest -v
          fi
