name: Ejecucion Automatica de Tests

# ¿Cuándo se ejecuta? Al hacer push o pull request en la rama main (o master)
on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  test-runner:
    runs-on: ubuntu-latest # Usamos una máquina Linux virtual

    steps:
    # 1. Descargar tu código en la máquina virtual
    - name: Checkout del código
      uses: actions/checkout@v4

    # 2. Instalar Python
    - name: Instalar Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10" # O la versión que uses tú

    # 3. Instalar las librerías necesarias
    - name: Instalar dependencias
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    # 4. Ejecutar los tests
    - name: Correr Pruebas con Pytest
      run: |
        python -m pytest -v